@media(max-width:786px) {
    
}
@media(max-width:425px) {
    .container {
        max-width: 375px;
    }
    header h1 {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }
    .circle {
        width: 1rem;
        height: 1rem;
    }
    .create-todo [type="text"] {
        font-size: 1rem;
    }
    .todos {
        font-size: 1rem;
    }
    .nav {
        font-size: 1rem;
    }
    .tabs {
        display: none;
    }
    .tabs-mobile {
    background-color: var(--li);
    color: var(--dark-grayish-blue);
    padding: 1.5rem 1rem;
    font-size: 1rem;
    display: block;
    }
    .tabs-mobile .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tabs-mobile p {
        margin: 0 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .tabs-mobile p:hover {
        color: var(--bright-blue);
    }
}
@media(max-width:375px) {
    .container {
        max-width: 320px;
    }
}